*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-color: #fff8e7;
}

h1{
    background-color: #a8dadc;
    height: 4rem;
    line-height: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    margin-top: 10px;
}

#box{
    height: 80px;
    width: 80px;
    background-color: rgb(255, 178, 62);
    border-radius: 50rem;
    line-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

img:hover {
    cursor: pointer;
    border: 3px solid rgb(117, 195, 0);
}

.score{
    background-color: #adad8e;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
}

#count{
    background-color: rgb(169, 246, 52);
    border-radius: 20rem;
    margin-top: 10px;
}

img {
    height: 77px;
    width: 77px;
    object-fit: cover;
    border-radius: 50%;
  }

h3{
    margin-top: 15px;
    background-color: #83c5be;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}